.poke{
  border: 1px black solid;
  border-radius: 10px;
  display: flex;
  margin: 10px;
  
  
  
}


div{
  display: flex;
  justify-content: center;
 padding: 10px;
 flex-wrap: wrap;
 max-width: 500px;
 margin: auto;
 
}

section{
 
}
