*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

body{
    background-color: whitesmoke
}


.header-container{
    background-color: slategray;
    display: flex;
}

.logo-container{
    display: flex;
    justify-content: center;
    flex-basis: 268px;
    order: 1;
}

.menu-container{
    display: flex;
    flex-basis: 500px;
    order: 2;
    flex-grow: 1;
    align-self: center;
}

.menu-container ul{
    display: flex;
    justify-content: space-around ;
    width: 100%;
    
}

.menu-container li{
    color: white;
    font-weight: 500;
    font-size: 1.3em;
    list-style: none;
    margin-right: 10px;
    
}

.main-container{
    display: flex;
    flex-wrap: wrap;
}

.movie-container{
    display: flex;
    flex-direction: column;
    flex-basis: 700px;
    flex-grow: 1;
}

.movie-container h2{
    margin: 40px 0;
    text-align: center;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-container div{
    align-items: center;
    background-color: #5C687C;
    border: black solid 1px;
    display: flex;
    height: 150px;
    justify-content: center;
    margin: 10px;
    flex-basis: 16%;
    flex-grow: 1;
}

.aside-container h3,h4{
    margin-bottom: 10px;
    text-align: center;
}

.aside-container p{
    display: flex;
    margin: 10px 0;
    text-align: justify;
    justify-content: center;
}

.aside-container{
    display: flex;
    flex-direction: column;
    flex-basis: 350px;
    margin: 20px;
    align-self: center;
    flex-grow: 1;
}