.caixa {
    color: white;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
}

.width-and-height{
    height: 50px;
    width: 50px;
}

.padding{
    padding: 20px;
}

.margin{
    margin: 30px;
}

.border{
    border: 5px solid black;
}



.super-mario{
    width: 200px;
    position: absolute;
    top: 100px;
}


.goomba{
    width: 100px;
    position: absolute;
    top: 400px;
    left: 150px;
    
}

.baloon{
    transform: rotateY(180deg);
    left: 500px;
    position: absolute;
    width: 300px;
       
}

.speach{
    font-size: 25px;
    position: absolute;
    color: black;
    z-index: 1;
    top: 100px;
    left: 540px;
}

.bowser{
    width: 200px;;
    left: 350px;
    top: 300px;
    position: absolute;
}

